APP_NAME="Portafolio-JD Website"
BASE_APP_URL=http://localhost:3000
APP_PORT=3000

# LinkedIn Profile URL
LINKEDIN_PROFILE_URL=https://www.linkedin.com/in/your-profile/

# Docker Stage
STAGE=development # development | production
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXXXXX

# EMAIL CONNECTION
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_REQUIRE_TLS=true
EMAIL_FROM_NAME=
EMAIL_USER=
EMAIL_PASSWORD=
OAUTH2_GMAIL_CLIENT_ID=
OAUTH2_GMAIL_CLIENT_SECRET=
OAUTH2_GMAIL_REFRESH_TOKEN=
